.content {
  margin-top: 30px;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    .rowNumber {
      width: 45px;
      height: 35px;
      background: none;
      border: none;
      font-size: 30px;
      color: orange;
      font-weight: 600;
    }
  }
}
